<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TEMPERATURE CONVERTER</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <hr>
        <div>Temperatur Converter from Celcius to Fahrenheit, Reamur, and Kelvin</div>
        <hr>
        <tr>
            <th>Celcius : </th><td th:text="${c}"><th> °C</th></td></br></br>
            <th>Celcius to Fahrenheit : </th><td th:text="${f}"><th> °F</th></td></br></br>
            <th>Celcius to Reamur : </th><td th:text="${r}"><th> °R</th></td></br></br>
            <th>Celcius to Kelvin : </th><td th:text="${k}"><th> °K</th></td></br></br>
        </tr>
    </body>
</html>
